.users-list {
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eff4fa;
  padding: 5px 10px;
  position: relative;
  top: 10px;

  span {
    color: #222b45;
    &:first-child {
      font-weight: 600;
    }
  }
}

.user-title {
  background-color: #eff4fa;
  span {
    color: #8f9bb3;
    font-size: 16px;
  }
}

.left-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  padding-left: 10px;
  span {
    color: #757575;
    padding: 10px 5px;
    letter-spacing: 0.5px;
  }
}

.admin-wrapper {
  height: 100%;
  position: relative;
  top: 60px;

  .admin-table {
    border-radius: 20px;

    .book-btn {
      padding: 7px;
      background-color: #4a85f6;
    }
  }
  .user-dashboard {
    background-color: #e5e5e5;
    padding: 25px;
    .user-list-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        color: #4a85f6;
        font-size: 20px;
        font-weight: 700;
      }
      button {
        background-color: #4a85f6;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 10px;
      }
    }
  }
}

.users-list:not(.user-title) {
  background: white;
  .user-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.admin-submit-btn {
  background-color: #4a85f6;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
}

.edit-wrapper {
  height: 250px;
  form {
    button {
      position: relative;
      top: 55px;
    }
  }
}

.delete-button:not(.admin-submit-btn) {
  color: #4a85f6;
  background-color: white;
  border: 1px solid #4a85f6;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 5px;
}

.places-admin-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .place-wrapper {
    background: white;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.add-place-wrapper {
  padding: 10px;
  > form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    > div > div > input:not(.aa),
    > input {
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid lightgray;
      border-radius: 10px;
    }
  }
}

.place-details input,
.availability-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.book-btn,
.availability-btn {
  padding: 7px;
  background-color: #4a85f6;
  color: white;
  width: 40%;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.place-detailss {
  display: flex;
  gap: 20px;
  img {
    width: 500px;
    height: auto;
  }
}
