.grid-2 {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.gap-10 {
  gap: 10px;
}

.flex-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}
