.wishlist-item-wrapper {
  position: relative;
  top: 70px;
  .wishlist-item {
    border: 1px solid #dcdfe4;
    border-radius: 10px;
    padding: 16px;
    h1 {
      margin: 0;
    }
  }
  img {
    width: 200px;
    height: auto;
  }
}
